@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg: #152533;

}

body{display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: var(--bg)}

.tarjeta{
    position: relative;
    transition: 0.5s;
    width: 100px;
    transition-delay: 0s;
}

.tarjeta .usuario{
    position: relative;
    width: 400px;
    min-height: 150px;
    background: #7ca772;
    display: flex;
    padding: 60px 40px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;

}


.tarjeta .usuario .imgPerfil{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}

.tarjeta .usuario .imgPerfil img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjeta .usuario .contenido{
    position: relative;
    text-align: center;
}

.tarjeta .usuario .contenido h2{
    font-size: 1.2em;
    line-height: 1.05em;
    font-weight: 600;
    color: #fff;
}

.tarjeta .usuario .contenido h2 span{
    font-size: 0.75em;
    font-weight: 400;
}

.tarjeta .usuario .toggle{
    position: absolute;
    bottom: 0;
    width: 200px;
    padding: 5px 15px;
    background: #fff;
    border-radius: 30px;
    transform: translateY(50%);
    border: 6px solid var(--bg);
    cursor: pointer;
    font-weight: 400;
    transition: 0.5s;
    text-align: center;
}

.tarjeta .usuario .toggle::before{
    content: 'Contáctame';
}


.tarjeta.active{
    height: 450px;
}

.tarjeta.active .usuario .toggle{
    background: #476141;
    color: #fff;
}

.tarjeta.active .usuario .toggle::before{
    content: 'Cerrar';
}

.tarjeta .contacto{
    position: relative;
    top: 30px;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
    overflow: hidden;
}

.tarjeta.active .contacto{
    height: 325px;

}

.tarjeta .contacto li{
    list-style: none;
    width: 100%;
    min-height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
    padding: 10px 30px;
}

.tarjeta.active .contacto li{
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(0.25s * var(--i));
    
}

.tarjeta .contacto li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.tarjeta .contacto li a .icono{
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta .contacto li a .icono i{
   color: #fff;
   font-size: 1.5em; 
}

.tarjeta .contacto li a p{
    color: #666;
    font-size: 1.1em;
}

.tarjeta .contacto li a:hover p{
    color: #111;

}

.tarjeta.active .contacto:hover li{
    opacity: 0.15;
    filter: blur(2px);
    transition-delay: 0s;
}

.tarjeta.active .contacto li:hover{
    opacity: 1;
    filter: blur(0px);
}